
header {
    background-color: #1F2937;
}

#headline {
    font-size: 48px;
    color: #F9FAF8;
    font-style: extra-bold;
}

#section2{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;

}

footer {
    background-color: #1F2937;
}